---
version: "3"

dotenv: [".env"]

env:
  PARENT_ENV: true

includes:
  mcp:
    taskfile: ./{{mcp_app_name}}/Taskfile.yaml
    dir: ./{{mcp_app_name}}
    env:
      PARENT_ENV: '{% raw %}{{.PARENT_ENV}}{% endraw %}'
  infra:
    taskfile: ./infra/Taskfile.yaml
    dir: ./infra
    env:
      PARENT_ENV: '{% raw %}{{.PARENT_ENV}}{% endraw %}'

tasks:
  default:
    desc: "ℹ️ Show all available tasks (run `task --list-all` to see hidden tasks)"
    cmds:
      - task --list --sort none
    silent: true

  deploy:
    desc: "🟢 Run Pulumi up in [DEPLOY] mode"
    cmds:
      - echo "Running pulumi up"
      - task: install
      - task infra:deploy
    silent: true
  refresh:
    desc: "⚪️ Run Pulumi refresh"
    cmds:
      - echo "Running pulumi refresh"
      - cd ./infra && uv run pulumi refresh
    silent: true
  destroy:
    desc: "🔴 Run Pulumi destroy"
    cmds:
      - echo "Running pulumi destroy"
      - task infra:destroy
    silent: true

  install:
    desc: "Install dependencies"
    cmds:
      - echo "Installing dependencies"
      - task mcp:install
      - task infra:install
    silent: true
