# Refer to https://docs.datarobot.com/en/docs/api/api-quickstart/index.html#create-a-datarobot-api-key
# and https://docs.datarobot.com/en/docs/api/api-quickstart/index.html#retrieve-the-api-endpoint
# Can be deleted on a DataRobot codespace
DATAROBOT_API_TOKEN=
DATAROBOT_ENDPOINT=

# # AWS Configs
# AWS_ACCESS_KEY_ID=your_aws_access_key
# AWS_SECRET_ACCESS_KEY=your_aws_secret_key
# AWS_SESSION_TOKEN=your_aws_session_token

# # Server Configs
# MCP_SERVER_NAME=optional_your_server_name_optional
# MCP_SERVER_PORT=optional_8080_optional
# MCP_SERVER_LOG_LEVEL=optional_DEBUG_optional
# MCP_SERVER_HOST=optional_127.0.0.1_optional
# APP_LOG_LEVEL=optional_DEBUG_optional

# Required, unless logged in to pulumi cloud. Choose your own alphanumeric passphrase to be used for encrypting pulumi config
PULUMI_CONFIG_PASSPHRASE=123

# If empty, a new use case will be created
DATAROBOT_DEFAULT_USE_CASE=