{% if mcp_template_framework == "base" %}{% include 'template/{{fastmcp_app_name}}/app/base/tests/ete/conftest_base.j2' -%}
{% elif mcp_template_framework == "base_with_tools" %}{% include 'template/{{fastmcp_app_name}}/app/base/tests/ete/conftest_base_with_tools.j2' -%}
{% endif -%}