name: runtime-params

# This is a template for rendering application metadata.

runtimeParameterDefinitions:
  - fieldName: user_api_token
    type: string
  
  - fieldName: mcp_server_name
    type: string

  - fieldName: mcp_server_log_level
    type: string
  
  - fieldName: app_log_level
    type: string
  
  - fieldName: otel_collector_base_url
    type: string
  
  - fieldName: otel_entity_id
    type: string
  
  - fieldName: otel_attributes
    type: string
  
  - fieldName: otel_enabled
    type: boolean
  
  - fieldName: otel_enabled_http_instrumentors
    type: boolean
  
  - fieldName: aws_access_key_id
    type: string
  
  - fieldName: aws_secret_access_key
    type: string
  
  - fieldName: aws_session_token
    type: string

  - fieldName: aws_predictions_s3_bucket
    type: string

  - fieldName: aws_predictions_s3_prefix
    type: string