# {{ _external_data.base.template_name }}: FastMCP App {{ fastmcp_app_name }}

This server allows Large Language Models (LLMs) to interact with DataRobot tools.

## Prerequisites

- uv (Python package installer)
- DataRobot account and API credentials
- AWS credentials (if using AWS-related features)

## Setup

1. Install uv if you haven't already:
```bash
curl -LsSf https://astral.sh/uv/install.sh | sh
```

2. Create a `.env` file in the root directory from `.env.sample` with the following variables:
```bash
DATAROBOT_API_TOKEN=your_api_token
DATAROBOT_ENDPOINT=your_datarobot_endpoint
# AWS_ACCESS_KEY_ID=your_aws_access_key
# AWS_SECRET_ACCESS_KEY=your_aws_secret_key
# AWS_SESSION_TOKEN=your_aws_session_token
# AWS_PREDICTIONS_S3_BUCKET=optional_your_aws_predictions_s3_bucket_optional
# AWS_PREDICTIONS_S3_PREFIX=optional_your_aws_predictions_s3_prefix_optional
# MCP_SERVER_NAME=optional_your_server_name_optional
# MCP_SERVER_PORT=optional_8080_optional
# MCP_SERVER_LOG_LEVEL=optional_DEBUG_optional
# MCP_SERVER_HOST=optional_127.0.0.1_optional
# ROOT_LOGGER_LEVEL=optional_DEBUG_optional
```

## Running the Server

Create a virtual environment, install dependencies and run the main server:
```bash
uv run app/main.py
```

## Development

### MCP Client Setup

#### Cursor
Edit `~/.cursor/mcp.json`
```json
{
  "mcpServers": {
    "DataRobotMCP": {
      "url": "http://localhost:8080/mcp/"
    },
    "DataRobotMCP-remote": {
      "url": "https://app.datarobot.com/custom_applications/<custom-app-id>/mcp/",
      "headers": {
        "Authorization": "Bearer YOUR_API_KEY"
      }
    }
  }
}
```

#### VSCode

Edit `~/Library/Application Support/Code/User/settings.json`

```json
    "mcp": {
        "servers": {
            "DataRobotMCP": {
                "url": "http://localhost:8080/mcp/",
                "type": "http"
            }
        }
    }
```

#### Claude Desktop

```bash
brew install node
```

Edit `~/Library/Application Support/Claude/claude_desktop_config.json`

```json
{
  "mcpServers": {
    "DataRobotMCP": {
      "command": "npx",
      "args": [
        "-y",
        "mcp-remote@latest",
        "https://app.datarobot.com/custom_applications/<custom-app-id>/mcp/",
        "--header",
        "Authorization: ${AUTH_HEADER}",
        "--transport",
        "http"
      ],
      "env": {
        "AUTH_HEADER": "Bearer YOUR_API_KEY"
      }
    }
  }
}
```

### Debugging
Check the the Output of the MCP Logs

### Sorting, linter and formatter
```bash
uv sync --all-extras && uv run ruff check --select I --fix && uv run ruff format
```

### Run tests
```bash
uv sync --all-extras && uv run pytest
```