{% if mcp_template_framework == "base_with_tools" %}

{% include 'app/base/tools/data.py.j2' -%}
{% include 'app/base/tools/deployment_info.py.j2' -%}
{% include 'app/base/tools/deployment.py.j2' -%}
{% include 'app/base/tools/model.py.j2' -%}
{% include 'app/base/tools/predict_realtime.py.j2' -%}
{% include 'app/base/tools/predict.py.j2' -%}
{% include 'app/base/tools/project.py.j2' -%}
{% include 'app/base/tools/training.py.j2' -%}

{% include 'app/base/tests/ete/test_data.py.j2' -%}
{% include 'app/base/tests/ete/test_deployment_info.py.j2' -%}
{% include 'app/base/tests/ete/test_deployment.py.j2' -%}
{% include 'app/base/tests/ete/test_model.py.j2' -%}
{% include 'app/base/tests/ete/test_projects.py.j2' -%}

{% include 'app/base/tests/integration/test_deployment_info.py.j2' -%}
{% include 'app/base/tests/integration/test_model.py.j2' -%}
{% include 'app/base/tests/integration/test_predict_realtime.py.j2' -%}

{% include 'app/base/tests/unit/test_data.py.j2' -%}
{% include 'app/base/tests/unit/test_deployment_info.py.j2' -%}
{% include 'app/base/tests/unit/test_deployment.py.j2' -%}
{% include 'app/base/tests/unit/test_predict_realtime.py.j2' -%}
{% include 'app/base/tests/unit/test_predict.py.j2' -%}
{% include 'app/base/tests/unit/test_project.py.j2' -%}
{% include 'app/base/tests/unit/test_model.py.j2' -%}

{% endif -%}