{% if mcp_template_framework == "base_with_tools" %}

{% include 'template/{{fastmcp_app_name}}/app/base/tools/data.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tools/deployment_info.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tools/deployment.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tools/model.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tools/predict_realtime.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tools/predict.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tools/project.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tools/training.j2' -%}

{% include 'template/{{fastmcp_app_name}}/app/base/tests/ete/test_data.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tests/ete/test_deployment_info.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tests/ete/test_deployment.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tests/ete/test_model.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tests/ete/test_projects.j2' -%}

{% include 'template/{{fastmcp_app_name}}/app/base/tests/integration/test_deployment_info.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tests/integration/test_model.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tests/integration/test_predict_realtime.j2' -%}

{% include 'template/{{fastmcp_app_name}}/app/base/tests/unit/test_data.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tests/unit/test_deployment_info.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tests/unit/test_deployment.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tests/unit/test_predict_realtime.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tests/unit/test_predict.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tests/unit/test_project.j2' -%}
{% include 'template/{{fastmcp_app_name}}/app/base/tests/unit/test_model.j2' -%}

{% endif -%}